/**
 * @file
 * Typography
 */

$font-family-base       : 'Open Sans', "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-header     : 'Oswald', "Helvetica Neue", Arial, "Noto Sans", sans-serif;
// $font-family-narrow     : ;
$font-family-navigation : $font-family-header;
$font-family-buttons    : $font-family-header;
