/**
 * @file
 * Slideshow Image
 */

.slick .slice-slide-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;

  @include minWidth(md) {
    height: 50vw;
    max-height: 700px;
  }

}

// Image Overlay
.slice-slide-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
