/**
 * @file
 * Slideshow Content
 */

// Header
.slice-slide-heading {
  color: inherit;
  font-family: $font-family-header;
  text-transform: uppercase;
  @include responsiveType(5vw, 26px, 55px, 55px);
}

// Body
.slice-slide-body {
  line-height: 1.25;
  @include responsiveType(3vw, 16px, 18px, 18px);
}
