{% set classes = [
'eck-entity',
'slice-content',
'slice-content-heading',
] %}

<div{{ attributes.addClass(classes) }}>
  <h3 class="font-family-header text-uppercase">{{ content.field_header.0 }}</h3>
</div>
