{{ attach_library('andesign_twbs/scroll-top') }}

<div id="layout-scroll-top" class="layout-scroll-top">
  <svg width="16" hwight="16" viewbox="0 0 16 16">
    <use xlink:href="#icon-chevron-up"></use>
  </svg>
</div>
