{{ attach_library('andesign_twbs/viewport-size') }}

<div id="layout-viewport-size" class="layout-viewport-size">
  <div id="layout-viewport-size__width" class="layout-viewport-size__item layout-viewport-size__width">
    W<span class="d-none d-sm-inline">idth</span>: <span></span>
  </div>
  <div id="layout-viewport-size__height" class="layout-viewport-size__item layout-viewport-size__height">
    H<span class="d-none d-sm-inline">eight</span>: <span></span>
  </div>
  <div id="layout-viewport-size__breakpoint" class="layout-viewport-size__item layout-viewport-size__breakpoint"></div>
  <div id="layout-viewport-size__device" class="layout-viewport-size__item layout-viewport-size__device"></div>
</div>
